body{
    background: url('https://images.pexels.com/photos/3608311/pexels-photo-3608311.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-size: fill;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Poppins', sans-serif;
}

.sparc-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(0.25rem);
    -webkit-backdrop-filter: blur(0.25rem);
    padding: 20px;
    margin: 10rem auto;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.35);
    transition: all .3s ease-in-out;

    max-width: 300px;
}

.img-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;

    max-width: 300px;
    max-height: 300px;
}

.music-details{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.music-details h2{
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.music-details h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}



/*| Progress |*/
.progress-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.progress{
    position: relative;
    width: 100%;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
}

.progress-position{
    position: absolute;
    width: 30%;
    height: 100%;
    background-color: #1DB954;
    border-radius: 1rem;
    z-index: 99999;

}

.progress-duration{
    position: relative;
    display: flex;
    margin-top: 0.75rem;
    justify-content: space-between;
}

/*| Controls |*/
.player-controls{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}

.player-controls button{
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}